name: Build

env:
  CARGO_TERM_COLOR: always

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-tauri:
    name: Build Tauri Application
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        settings:
          - platform: 'macos-latest'
            args: '--target universal-apple-darwin'
          - platform: 'ubuntu-22.04'
            args: ''
          - platform: 'windows-latest'
            args: ''

    runs-on: ${{ matrix.settings.platform }}
    env:
      CI: true
    steps:
      - uses: actions/checkout@v4

      - name: Get App Version from Cargo.toml
        id: drop_version
        run: |
          APP_VERSION=$(grep -E '^version\s*=' src-tauri/Cargo.toml | sed -E 's/version\s*=\s*"([^"]+)"/\1/')
          echo "app_version=$APP_VERSION" >> "$GITHUB_OUTPUT

      - name: Install Dependencies (Ubuntu only)
        if: matrix.settings.platform == 'ubuntu-22.04' # This must match the platform value defined above.
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.0-dev libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'npm' # Set this to npm, yarn or pnpm.

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          # Those targets are only used on macos runners so it's in an `if` to slightly speed up windows and linux builds.
          targets: ${{ matrix.settings.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}

      - name: Rust cache
        uses: swatinem/rust-cache@v2

      - name: Install Frontend Dependencies
        # If you don't have `beforeBuildCommand` configured you may want to build your frontend here too.
        run: npm install # change this to npm or pnpm depending on which one you use.

      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          releaseBody: 'See the assets to download this version and install.'
          releaseDraft: true
          prerelease: false
          args: ${{ matrix.settings.args }}

      - name: Upload Windows Build
        uses: actions/upload-artifact@v4
        if: matrix.settings.platform == 'windows-latest'
        with:
          name: ark-drop-Windows.zip
          path: ./target/release/bundle/

      - name: Upload Linux AppImage
        if: matrix.settings.platform == 'ubuntu-22.04'
        uses: actions/upload-artifact@v4
        with:
          name: ark-drop.AppImage
          path: ./target/release/bundle/appimage/ark-drop_${{ steps.drop_version.outputs.app_version }}_amd64.AppImage

      - name: Upload macOS Build (ark-drop.app)
        uses: actions/upload-artifact@v4
        if: matrix.settings.platform == 'macos-latest'
        with:
          name: ark-drop-macOS.zip
          path: ./target/universal-apple-darwin/release/bundle/macos

      - name: Upload macOS Build (ark-drop.dmg)
        uses: actions/upload-artifact@v4
        if: matrix.settings.platform == 'macos-latest'
        with:
          name: ark-drop-macOS-dmg.zip
          path: ./target/universal-apple-darwin/release/bundle/dmg
